h1 {
	color: #000000;
	margin: auto;
	text-align: center;
	margin-bottom: 0.5%;
}

body {
	background-color: #f7786b;
}

hr {
	margin-left: 5%; 
	margin-right:5%; 
	border-color: black;
}

p {
	display: inline;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
}

#top { /* div class id uses # */
	text-align: center;
}

#summary {
	color:black;
	font-family: Georgia;
	padding-left: 20px;
}

#img {
	width: 12.8%;
	height: 16%;
	margin-left: 0.4%;
	margin-top: 2%;
	
}

.box { /* regular class uses . */
	position:relative;
	top: 5%;
	width: 75%;
	height: 80%;
	margin: auto;
	background-color: white;
}

.innerInvisibleBox {
	width: 90%;
	position:relative;
	top:3%; /* to move the text up or down */
	left:5%;
}










