h1 {
	color: #000000;
	margin: auto;
	text-align: center;
	margin-bottom: 0.5%;
}

body {
	background-color: #f7786b;
}

hr {
	margin-left: 5%; 
	margin-right:5%; 
	border-color: black;
}

p {
	display: inline;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
}

#top { /* div class id uses # */
	text-align: center;
}

#summary {
	color:black;
	font-family: Georgia;
	padding-left: 20px;
}

#img2 {
	width: 20%;
	height: 35%;
	margin-left: 15%;
	margin-right: 23%;
	margin-top: 20px;	
}

#img {
	width: 17%;
	height: 35%;
	margin-top: 20px;	
}


.box { /* regular class uses . */
	position:relative;
	top: 5%;
	width: 75%;
	height: 60%;
	margin: auto;
	background-color: #90EE90;
}

.innerInvisibleBox {
	width: 90%;
	position:relative;
	top:10%;
	left:5%;
}










